<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/69922741-0cb4-44d2-b3aa-b5e1ba824c73/resourceGroups/RG-1/providers/Microsoft.ContainerRegistry/registries/tdppocacr</ResourceId>
    <ResourceName>tdppocacr</ResourceName>
    <ResourceGroup>RG-1</ResourceGroup>
    <Subscription>DCE_POOL_3</Subscription>
    <RegistryUrl>https://tdppocacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15be362e-a8c4-4ec6-962c-cb1b3ac0be0f</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>